@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-size: 80px;
}

body {
  background: -webkit-linear-gradient(90deg, #bdbdbd,#dedede,#ffffff);
  background: linear-gradient(90deg, #bdbdbd,#dedede,#ffffff);
}

.main {
  min-height: 100vh;
  width: 100vw;
  font-family: "Open Sans";
}

.black-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  color: black;
  background-color: rgb(41, 20, 20);
}

.head-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-size);
}

.container-form {
  display: flex;
  justify-content: center;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: none;
}

input, textarea {
  padding-left: 5px;
  border-radius: 5px;
  border: 1px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

label {
  margin-top: 1em;
  margin-bottom: 0.1em;
}

.btn-sumbit {
  margin-top: 1.5em;
  padding: 10px;
  max-width: 1000px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  background-position: center;
  background: -webkit-linear-gradient(90deg, #ceddd6,#b9babf,#f1bfa4);background: linear-gradient(90deg, #ceddd6,#b9babf,#f1bfa4);
  transition: all 0.3s ease-in-out;
}

.btn-sumbit:hover {
  padding: 15px;
}

button:active {
  opacity: 0.5;
}

.go-home {
  position: absolute;
  top: 0;
  right: 5em;
  margin-top: 1.5em;
  padding: 10px;
  max-width: 1000px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  background-position: center;
  background: -webkit-linear-gradient(90deg, #eae6ff,#f4f4f4);
  background: linear-gradient(90deg, #eae6ff,#f4f4f4);
  transition: all 0.3s ease-in-out;
}

.go-home:hover {
  transform: scale(1.05);
}