@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf");
}

:root {
  --header-size: 80px;
  --message-container-size: calc(100vh - var(--header-size));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background: -webkit-linear-gradient(90deg, #bdbdbd,#dedede,#ffffff);
  background: linear-gradient(90deg, #bdbdbd,#dedede,#ffffff);}

.main {
  min-height: 100vh;
  width: 100vw;
  font-family: "Open Sans";
}

.head-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--header-size);
}

.black-line {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  color: black;
  background-color: rgb(41, 20, 20);
}

.message-container {
  display: flex;
  justify-content: center;
  min-height: var(--message-container-size);
  width: 100%;
}

.content {
  display: block;
  width: 100%;
  max-width: 1000px;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 2em;
}

.item:first-child() {
  margin-top: 0;
}

.item h3, p {
  margin-left: 10px;
  margin-left: 10px;
}

.bottom-case {
  display: flex;
  justify-content: space-between;
}

a {
  color: black;
  text-decoration: none;
}

.add-message {
  padding: 8px;
  margin-left: 3em;
  margin-top: 3em;
  width: 150px;
  max-width: 1000px;
  border: 1px solid black;
  border-radius: 6px;
  color: black;
  background: linear-gradient(90deg, #bdbdbd,#dedede,#ffffff);
  transition: width 0.3s ease-in-out;
}

.add-message:hover {
  width: 250px;
}

.add-message:active {
  opacity: 0.5;
}